*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Allerta', sans-serif;
}

a{
	text-decoration: none;
}

.info img{
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header{
	background: #273B47;
	color: #fff;
	height: 60px;
	font-size: 1.2em;
	padding: 0em 1em;
}

.info{
	display: flex;
	align-items: center;
}

.info img{
	margin-right: .7em;
}

nav li a{
	color: #fff;
	text-decoration: none;
}

nav ul{
	display: flex;
}

nav ul li{
	margin-left: 10px;
	list-style: none;
}

.custom-link:after{
	content: " | ";
	color: #fff;
}

.contenedor{
	width: 960px;
}

.portada{
	background: #EFEFEF;
	display: flex;
	justify-content: center;
	padding: 2em 0em;
}

.portada .contenedor{
	background-image: url('../images/night-view-of-brooklyn-bridge.jpg');
	background-size: cover;
	height: 500px;
	position: relative;
}

.bienvenida{
	width: 500px;
	background: #efefef;
	color: #333;
	opacity: .8;
	padding: 1em;
	position: absolute;
	left: 20px;
	bottom: 20px;
}

.bienvenida h2{
	font-size: 1.6em;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1em;
}

.bienvenida p{
	text-align: right;
	color: grey;
}

.articulos{
	display: flex;
	justify-content: center;
	padding: 2em 0em;
}

.posts{
	width: 960px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	color: grey;
}

.post{
	width: 30%;
	margin-bottom: 3em;
}

.post img{
	width: 100%;
	max-height: 250px;
}

.post img:hover{
	opacity: .8;
}

.post a.titulo-articulo{
	font-size: 1.4em;
	color: #273B47;
}

.post a.titulo-articulo:hover{
	color: grey;
}

.footer-articulo{
	display: flex;
	justify-content: space-between;
	/*font-family: 'Montserrat', sans-serif;*/
	font-size: .8em;
	font-weight: 100;
	margin-top: 1.5em;
	border-top: 1px solid lightgrey;
}

.footer{
	background: #273B47;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer a{
	color: #fff;	
}